<Html>
    <body>
        <form method="POST" action="/insert">
            <label>
                Name : <input type="text" name="name"><br>
            </label><br>
            <label>
                Age : <input type="number" name="age"><br>
            </label><br>
            <label>
                Email : <input type="text" name="email"><br>
            </label><br>
            <input type="submit">
        </form>
    </body>
</Html>